* {
    padding: 0;
    margin: 0;
    font-family: Arial;
    box-sizing: border-box;
}

h1 {
    color: #01c1d8;
    margin-bottom: 1em;
    font-size: 2.1em;
}

.bold {
    font-weight: bold;
    color: #01c1d8;
}
